---
  Language: Cpp
  BasedOnStyle: WebKit
  AlignAfterOpenBracket: BlockIndent
  AlwaysBreakTemplateDeclarations: MultiLine
  ColumnLimit:     80
  MaxEmptyLinesToKeep: 2
  SpaceBeforeParens: Never
#SeparateDefinitionBlocks: Always
...
